{% extends 'base.html' %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h1>JOBPLUS</h1>
            <p>领先的互联网求职、招聘平台</p>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-tabs list-title">
            <li role="presentation" class="active"><a href="#">最新职位</a></li>
        </ul>
        <div class="job-list">
        </div>
        <div class="show-more">
            <a href="#" class="btn btn-lg btn-success">更多</a>
        </div>
        <ul class="nav nav-tabs list-title">
            <li role="presentation" class="active"><a href="#">最新公司</a></li>
        </ul>
        <div class="company-list">
        </div>
        <div class="show-more">
            <a href="#" class="btn  btn-lg btn-success">更多</a>
        </div>

    </div>
{% endblock %}