{% extends 'base.html' %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h1>JOBPLUS</h1>
            <p>领先的互联网求职、招聘平台</p>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-tabs list-title">
            <li role="presentation" class="active"><a href="#">最新职位</a></li>
        </ul>
        <div class="job-list clearfix">
            {% for job in job_list %}
                <div class="col-md-4">
                <div class="job">

                    <div class="caption">
                        <a href="{{ url_for('job.detail',job_id=job.id) }}">
                            <h3>{{ job.job_name }}</h3>

                        </a>
                        <p>经验{{ job.job_experience }} 学历{{ job.job_education }}</p>
                        <div>{% for tag in job.job_tag %}
                            <span class="label label-default">{{ tag.tag_name }}</span>
                        {% endfor %}
                        </div>

                    </div>
                    <hr>
                    <div class="media">
                        <div class="media-left">
                            <a href=""><img
                                    src="https://static.lagou.com/thumbnail_160x160/image1/M00/00/24/Cgo8PFTUWHyANEpfAABnz-1mqGc824.jpg"
                                    alt="" class="pull-left" width="40px" height="40px"></a>
                        </div>
                        <div class="media-right">
                            <a href=""><h4 class="media-heading">{{ job.Company.user.user_name }}</h4>
                            </a>
                            <span>{{ job.Company.company_introduction }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="show-more">
            <a href="/job" class="btn btn-lg btn-success">更多</a>
        </div>
        <ul class="nav nav-tabs list-title">
            <li role="presentation" class="active"><a href="#">最新公司</a></li>
        </ul>
        <div class="company-list clearfix">
            {% for company in company_list %}
                <div class="col-md-3">
                    <div class="company">
                        <a href="{{ url_for('company.detail',company_id=company.id) }}">
                            <img src="https://static.lagou.com/thumbnail_160x160/i/image2/M00/13/BF/CgotOVnwYgKAQxwQAADd4llXXGw444.png"
                                 alt="">
                            <h3>{{ company.user.user_name }}</h3>
                            <p>{{ company.company_introduction }}</p>
                            <hr>
                            <p>在招职位:7</p>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="show-more">
            <a href="/company" class="btn  btn-lg btn-success">更多</a>
        </div>

    </div>
{% endblock %}