.show-more {
    text-align: center;
}

.show-more a {
    color: #5cb85c;
    background: #ffffff;
    padding: 20px 100px;
}

a,
a:hover,
a:visited {
    cursor: pointer;
    color: #333;
    text-decoration: none !important;
}

.list-title {
    margin: 0 15px;
}

.footer {
    border-top: 1px solid #dddddd;
    margin: 10px 0;
}

.company {
    box-shadow: 0px 10px 20px 0px rgba(236, 236, 236, 0.86);
    border: 1px solid #ddd;
    text-align: center;
    text-decoration: none;
    padding: 10px 0px;
    margin: 10px 0;
}

.job {
    box-shadow: 0px 10px 20px 0px rgba(236, 236, 236, 0.86);
    padding: 13px;
    border: solid 1px #ddd;
    border-radius: 5px;
    margin: 15px 0;
}

.company-jobs {
    margin: 30px 15px;
    font-size: 15px;
}

.job-item {
    border: 1px solid #eee;
    border-left: 5px solid #00b38a;
    padding: 15px 10px;
    margin-bottom: 15px;
}

.job-salary {
    color: #fd5f39;
}

.job-meta,
.timesince {
    color: #999;
}
a.btn-admin{
    color: #5cb85c;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 5px;
}