{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="col-md-3">
            <h3>公司管理</h3>
            <div class="list-group">
                <a href="/" class="list-group-item">职位管理</a>
                <a href="/" class="list-group-item">投递管理</a>
            </div>
            <a href="{{ url_for('company.publish') }}" class="btn  btn-lg btn-success">发布职位</a>
        </div>
        <div class="col-md-9">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>职位名称</th>
                    <th>企业名称</th>
                    <th>发布时间</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                {% for job in jobs %}
                    <tr>
                        <td>{{ job.id }}</td>
                        <td>{{ job.job_name }}</td>
                        <td>{{ current_user.user_name }}</td>
                        <td>{{ job.create_time }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="">下线</a>
                                <a href="">编辑</a>
                                <a href="">删除</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}