{% extends 'base.html' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="https://static.lagou.com/thumbnail_160x160/image1/M00/00/24/Cgo8PFTUWHyANEpfAABnz-1mqGc824.jpg"
                         alt="">
                </div>

            </div>
            <div class="col-md-9">
                <h3>{{ user.user_name }}</h3>
                <p>{{ user.company.company_introduction }}</p>
                <p>{{ user.company.company_homepage }}</p>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="col-md-8">
            <ul class="nav nav-tabs list-title">
                <li role="presentation" class="active">
                    <a href="{{ url_for('company.detail',user_id=user.id) }}">公司介绍</a>
                </li>
                <li role="presentation"><a
                        href="{{ url_for('company.open_jobs',company_id=user.company.id) }}">
                    在招职位({{ user.company.job|length }})</a>
                </li>
            </ul>
            <div class="company-jobs">
                {{ user.company.company_description }}
            </div>
        </div>
        <div class="col-md-4">
            <h3>公司基本信息</h3>
            <p>领域:{{ user.company.company_field }}</p>
            <p>融资:{{ user.company.company_financing }}</p>
            <p>城市:{{ user.company.company_city }}</p>
        </div>


    </div>


{% endblock %}