{% extends 'base.html' %}
{% from 'macros.html' import render_pagination %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>TODO:公司过滤</h1>
        </div>
    </div>
    <div class="container">
        <div class="clearfix">
            {% for user in pagination.items %}
                <div class="col-md-3">
                    <div class="company">
                        <a href="{{ url_for('company.detail',user_id=user.id) }}">
                            <img src="{{ user.company.company_logo }}"
                                 alt="" width="100px" height="100px">
                            <h3>{{ user.user_name }}</h3>
                            <p>{{ user.company.company_introduction }}</p>
                        </a>
                        <hr>
                        <p>在招职位:{{ user.company.job|length }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ render_pagination(pagination,'job.index') }}
    </div>


{% endblock %}