<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static',filename='base.css') }}">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Jobplus</a>
        </div>
        <div class="navbar-left">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('job.index') }}">职位</a></li>
                <li><a href="{{ url_for('company.index') }}">公司</a></li>
                <li><a href="{{ url_for('company.admin') }}">管理</a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('home.register',type='jobseeker') }}">用户注册</a></li>
                    <li><a href="{{ url_for('home.register',type='company') }}">企业注册</a></li>
                    <li><a href="{{ url_for('home.login') }}">登录</a></li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span id="username">{{ current_user.user_name }}</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if current_user.user_role==10 %}
                                <li><a href="{{ url_for('home.profile',type='jobseeker')}}">我的主页</a></li>
                                {% elif current_user.user_role==20 %}
                                <li><a href="{{ url_for('home.profile',type='company')}}">我的主页</a></li>
                            {% endif %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('home.logout') }}">退出登录</a></li>
                        </ul>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% with messages= get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
<div class="container">
    <div class="footer">Copyright © 2017 By 实验楼</div>
</div>

<!-- Bootstrap 依赖 jQuery -->
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
